@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* loader styling */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #ec7b27;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* navbar styling */
.top-nav {
  z-index: 5;
  position: absolute;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.navbar-brand img {
  width: 50%;
}
.head-container a {
  color: rgba(0, 0, 0, 0.8);
}
.head-container a:hover {
  color: #ec7b27;
}
.head-container a i:hover {
  color: #ec7b27;
  cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item:active {
  color: #fff !important;
  background-color: #ec7b27;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #fff !important;
  background-color: #ec7b27;
}
@media (min-width: 768px) {
  .text-head {
    color: white !important;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white !important;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ec7b27 !important;
}
.navbar .navbar-nav .nav-item .active {
  color: #ec7b27 !important;
}
@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
    background: #fefefe;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    left: 58px;
  }
  .navbar .nav-item .dropdown-toggle::after {
    display: none;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 1rem;
  }
  .navbar .dropdown-menu .dropdown-item {
    font-weight: 300;
  }
}
@media (max-width: 992px) {
  .navbar .dropdown-menu {
    background: transparent !important;
  }
  .navbar .dropdown-menu .dropdown-item {
    color: #fff !important;
  }
}

/* carousel styling */
.carousel .carousel-control-next-icon {
  height: 5rem;
  width: 5rem;
}
.carousel .carousel-control-next {
  opacity: 1;
}
.carousel .carousel-caption {
  z-index: 1;
  top: 30%;
  left: 5%;
  text-align: start;
}
.carousel .carousel-caption h1 {
  font-size: 5rem;
}
.carousel .carousel-caption p {
  font-size: 1.4rem;
  font-weight: 400;
  width: 68%;
}
@media (max-width: 1200px) {
  .carousel .carousel-caption h1 {
    font-size: 4rem;
  }
  .carousel .carousel-caption p {
    font-size: 1rem;
    font-weight: 400;
    width: 75%;
  }
}
@media (max-width: 992px) {
  .carousel .carousel-caption h1 {
    font-size: 3.5rem;
  }
  .carousel .carousel-caption p {
    font-size: 1.1rem;
    font-weight: 400;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-caption h1 {
    font-size: 2.4rem;
  }
  .carousel .carousel-caption p {
    font-size: 0.8rem;
    font-weight: 400;
    width: 80%;
  }
  .carousel .carousel-control-next-icon {
    height: 4rem;
    width: 4rem;
  }
}
@media (max-width: 600px) {
  .carousel .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel .carousel-caption p {
    font-size: 0.7rem;
    font-weight: 400;
    width: 90%;
  }
  .carousel .carousel-control-next-icon {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media (max-width: 500px) {
  .carousel .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .carousel .carousel-caption p {
    font-size: 0.5rem;
    font-weight: 400;
    width: 95%;
  }
  .carousel .carousel-control-next-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media (max-width: 500px) {
  .carousel .carousel-caption h1 {
    font-size: 1rem;
  }
}

/* tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  top: -80px;
}
.gamma-tab {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  cursor: pointer;
  color: transparent !important;
  transition: all 0.4s ease-in-out;
}
.gamma-tab:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
.grid-tab {
  background-color: #7a7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 5rem;
  cursor: pointer;
  color: transparent !important;
  transition: all 0.4s ease-in-out;
}
.grid-tab:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
.pipe-tab {
  background-color: #ec7b27;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  cursor: pointer;
  color: transparent !important;
  transition: all 0.4s ease-in-out;
}
.pipe-tab:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
.tabs p {
  color: white !important;
  font-weight: 700 !important;
  margin: 0 !important;
}
.pull-up {
  margin-top: -3rem;
}
@media (max-width: 992px) {
  .gamma-tab {
    padding: 3rem 3.5rem;
  }
  .grid-tab {
    padding: 3rem 3.5rem;
  }
  .pipe-tab {
    padding: 3rem 3.5rem;
  }
  .tabs p {
    font-size: 0.9rem !important;
  }
  .tabs {
    top: -60px;
  }
}
@media (max-width: 768px) {
  .gamma-tab {
    padding: 2.5rem;
  }
  .grid-tab {
    padding: 2.5rem;
  }
  .pipe-tab {
    padding: 2.5rem;
  }
  .tabs p {
    font-size: 0.8rem !important;
  }
  .tabs {
    top: -50px;
  }
}
@media (max-width: 576px) {
  .gamma-tab {
    padding: 2rem;
  }
  .grid-tab {
    padding: 2rem;
  }
  .pipe-tab {
    padding: 2rem;
  }
  .tabs p {
    font-size: 0.7rem !important;
  }
  .tabs {
    top: -40px;
  }
}
@media (max-width: 455px) {
  .gamma-tab {
    flex: 1;
    padding: 1.5rem 0;
  }
  .grid-tab {
    flex: 1;
    padding: 1.5rem 0;
  }
  .pipe-tab {
    flex: 1;
    padding: 1.5rem 0;
  }
  .tabs p {
    font-size: 0.5rem !important;
  }
  .tabs {
    top: -30px;
  }
}
@media (max-width: 400px) {
  .gamma-tab {
    padding: 1.2em 0;
  }
  .grid-tab {
    padding: 1.2rem 0;
  }
  .pipe-tab {
    padding: 1.2rem 0;
  }
  .tabs p {
    font-size: 0.5rem !important;
  }
  .tabs {
    top: -25px;
  }
}
@media (max-width: 400px) {
  .gamma-tab {
    padding: 0.8rem 0;
  }
  .grid-tab {
    padding: 0.8rem 0;
  }
  .pipe-tab {
    padding: 0.8rem 0;
  }
  .tabs p {
    font-size: 0.5rem !important;
  }
  .tabs {
    top: -20px;
  }
}
@media (max-width: 330px) {
  .tabs {
    top: 0px;
    padding-top: 10px;
  }
  .pull-up {
    margin-top: -1rem;
  }
}

/* introduction section styling */
.intro {
  background-color: #f8f8f8;
}
.intro h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #7a7a7a;
  width: 50%;
  margin: auto;
}
.intro p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #7a7a7a;
  margin-top: 2rem;
}
.intro ul {
  margin-top: 2rem;
}
.intro li {
  font-size: 1.3rem;
  font-weight: 300;
  color: #7a7a7a;
}
.intro img {
  width: 30%;
}
@media (max-width: 1200px) {
  .intro h1 {
    font-size: 2.5rem;
    width: 90%;
  }
}
@media (max-width: 992px) {
  .intro h1 {
    font-size: 2.5rem;
    width: 80%;
  }
  .intro p {
    font-size: 1.1rem;
  }
  .intro li {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .intro h1 {
    font-size: 2rem;
    width: 100%;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro li {
    font-size: 1rem;
  }
}

/* footer styling */
.footer .logo {
  width: 40%;
}
.footer h2 {
  font-size: 1.9rem;
  font-weight: 300;
}
.footer p {
  color: #000000;
  font-size: 0.9rem;
  font-weight: 200;
}
.footer .map {
  width: 70%;
}

/* services styling */
.body {
  background-color: #f8f8f8;
}
.services h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #7a7a7a;
  padding-top: 4rem;
}
.services-img-wrap {
  display: flex;
  justify-content: center;
}
.services-img {
  width: 50%;
}
@media (max-width: 1200px) {
  .services h1 {
    font-size: 2.3rem;
    width: 90%;
  }
  .services-img {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .services h1 {
    font-size: 2.1rem;
  }
  .services-img {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .services h1 {
    font-size: 1.8rem;
    padding-top: 3rem;
  }
  .services-img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .services h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .services h1 {
    font-size: 1rem;
    padding-top: 2rem;
  }
}

/* Contact us styling */
.contact-field {
  border: 0 !important;
  background-color: #e7e5e5 !important;
  color: #7a7a7a !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.contact-field:focus {
  outline: 0 !important;
  border: 0px solid red !important;
  box-shadow: none !important;
}
.contact-field::-webkit-input-placeholder {
  color: #9c9c9c !important; /* Edge */
}
.contact-field:-ms-input-placeholder {
  color: #9c9c9c !important; /* Internet Explorer 10-11 */
}
.contact-field::placeholder {
  color: #9c9c9c !important;
  font-weight: 300;
}
.btn-contact {
  background-color: #ec7b27 !important;
  color: #fff !important;
  transition: all 0.7s ease-in-out;
}
.btn-contact:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
.msg-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .contact-head {
    width: 80%;
  }
}
